*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: #111111;
    
}

.menu{
    width: 200px;
    height: 100%;
    background-color: blueviolet;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 15px;
    padding-left: 10px;
}

.menuItem{
    line-height: 30px;
    padding-left: 15px;
    float: left;
    clear: left;
}

.menu a{
    text-decoration: none;
    color: #eeeeee;
}

.menu a:hover{
    color:orange;
}

.title{
    font-size: 2em;
    font-weight: 500;
}


.main{
    margin-left: 200px;
    padding: 0px 10px;
}

.input{
    background-color: #ffffff;
    margin: 5px;
}

.input:read-only{
    background-color: #eeeeee;
}



.short{
    width: 50px;
}

.answer{
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    margin: 0px 5px;
}

.error{
    color:#ee0000;
    font-weight: 600;
}

.row{
    display:block;
    width:100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
    width: fit-content;
    /* border: black; */
}

.table{
    width: 100%;
    display:table;
}

.tcaption{
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.theader{
    display: table-header-group;
    background-color: lightgrey;
    font-weight: bold;
    font-size: 20px;
}

.theadercell{
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

.tbody{
    display: table-row-group;
}

.trow{
    display: table-row;
}

.tcell{
    display: table-cell;
}

.empty{
    min-height: 20px;
    margin: 5px;
}


.table{
    min-height: 150px;
}

.label{
    margin: 5px;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}