*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: #111111;
    background-color: #f9f9f9;
}

.input{
    background-color: #eeeeee;
    /* padding: 5px; */
    margin: 5px;
}

.title{
    font-size: 2em;
}

.row{
    display:block;
    width:100%;
}

.col{
    float: left;
    width: auto;
    /* border: black; */
}

.empty{
    min-height: 20px;
    margin: 5px;
}


.table{
    min-height: 150px;
}

.label{
    margin: 5px;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}